<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

  <display-name>dcm4chee-xds2-service</display-name>
  <servlet-mapping>
    <servlet-name>javax.ws.rs.core.Application</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>dcm4chee-xds2-service</servlet-name>
    <servlet-class>org.dcm4chee.xds2.service.XdsServiceServlet</servlet-class>
    <init-param>
      <param-name>ldapPropertiesURL</param-name>
      <param-value>file:${jboss.server.config.dir}/dcm4chee-xds2/ldap.properties</param-value>
    </init-param>
    <init-param>
      <param-name>xdsDeviceName</param-name>
      <param-value>dcm4chee-xds2-registry</param-value>
    </init-param>
    <!-- Uncomment to specify a concrete HL7 Application within the XDS device.
         If not set -> use first HL7 Application.
    <init-param>
      <param-name>hl7AppName</param-name>
      <param-value>XDS^DCM4CHEE</param-value>
    </init-param>  -->
    <load-on-startup>1</load-on-startup>
  </servlet>
</web-app>