<!--advanced view-->
<a href=""
   ng-click="advancedView = false"
   ng-show="advancedView" class="btn btn-default">Back to simple view</a>

<div ng-if="advancedView" static-include="config-browser/service-manager.html"></div>

<!--'Simple' ;) view-->
<div ng-show="!advancedView" class="col-md-12" ng-controller="XDSConfigManagerCtrl">

    <div class="nice-solid-regular nice-pane-padding">
        <h2><span>
                <a href=""
                   ng-click="switchToAdvancedView()"
                   class="btn btn-default">Advanced...</a>
                <a href=""
                   ng-click="reconfigureDevice(xdsDevice)"
                   title="Trigger a reload of configuration in the backend"
                   class="btn btn-info ">Force reload</a>
                <a ng-show="xdsDevice.isModified" href=""
                   ng-click="saveDeviceConfig(xdsDevice)"
                   class="btn btn-success ">Save</a>
                <a ng-show="xdsDevice.isModified" href=""
                   ng-click="cancelChangesDevice(xdsDevice)"
                   class="btn btn-danger ">Revert changes</a>
            </span></h2>


        <ul class="nav nav-tabs" style="margin-bottom: 8px;">
            <li ng-class="(tab == 'registry' ? 'active' : '')">
                <a href="" ng-click="tab = 'registry'">XDS Registry</a></li>
            <li ng-class="tab == 'repository' ? 'active' : ''">
                <a href="" ng-click="tab = 'repository'">XDS Repository</a></li>
        </ul>


        <div ng-show="tab=='registry'">
            <div class="row">
                <div class="col-md-6 column-border-right">
                    <div confignode="xdsDevice.config.deviceExtensions.XdsRegistry"
                         schema="ConfigEditorService.schemas.deviceExtensions.XdsRegistry"
                         options="{hideGroups:['XDS profile strictness'], excludeProps:['xdsApplicationName']}">
                    </div>
                    <div ng-show="hl7Connection " confignode="hl7Connection"
                         schema="ConfigEditorService.schemas.device.properties.dicomConnection.items"
                         options="{legend:'HL7 connection for ADP feeds', excludeProps:['cn']}">
                    </div>
                </div>

                <div class="col-md-6">
                    <div confignode="xdsDevice.config.deviceExtensions.XdsRegistry"
                         schema="ConfigEditorService.schemas.deviceExtensions.XdsRegistry"
                         options="{showGroups:['XDS profile strictness']}">
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="tab=='repository'">
            <div class="row">
                <div class="col-md-6 column-border-right">

                    <div confignode="xdsDevice.config.deviceExtensions.XdsRepository"
                         schema="ConfigEditorService.schemas.deviceExtensions.XdsRepository"
                         options="{hideGroups:['XDS profile strictness', 'Storage'], excludeProps:['xdsSources', 'xdsApplicationName']}">
                    </div>

                </div>

                <div class="col-md-6">
                    <div confignode="xdsDevice.config.deviceExtensions.XdsRepository"
                         schema="ConfigEditorService.schemas.deviceExtensions.XdsRepository"
                         options="{showGroups:['XDS profile strictness']}">
                    </div>
                </div>

                <div class="col-md-12">
                    <div confignode="selectedFileSystemGroup"
                         schema="ConfigEditorService.schemas.deviceExtensions.StorageConfiguration.properties.filesystemGroups.properties['*']"
                         options="{legend:'Storage', excludeProps:['storageFileSystemGroupID']}">
                    </div>
                </div>
            </div>

        </div>


    </div>


</div>