<!-- Composite (Object) -->
<div class="row" ng-if="isNodeComposite()">

    <legend>{{schema.class}}</legend>
    <div class="form-horizontal">

        <div ng-repeat="(k,nodeMetadataVal) in schema.properties" ng-controller="ConfigSubNodeController">

            <div confignode="confignode[k]" schema="subNodeSchema" parentnode="confignode" index="k"
                 editor="editor"></div>

        </div>
    </div>
</div>

<div class="form-group"
     ng-if="(schema.type == 'string' || schema.type == 'integer' || schema.type == 'boolean' || (schema.type == 'array' && schema.items.type != 'object'))">
    <label class="col-sm-3 control-label">{{schema.title ? schema.title : index}}</label>

    <div class="col-sm-9">

        <!-- Primitives -->
        <div ng-if="(schema.type == 'string' || schema.type == 'integer')">
                <input class="form-control" ng-model="parentnode[index]">
        </div>

        <!-- Boolean -->
        <div class="checkbox" ng-if="schema.type == 'boolean'">
            <input ng-model="parentnode[index]" type="checkbox">
        </div>

        <!-- Collections -->
        <div ng-if="(schema.type == 'array')">
            <!-- Collection view -->
            <div ng-show="edited != confignode">
                <span ng-repeat="(k,node) in confignode track by k" ng-controller="ConfigSubNodeController">
                    <span class="label label-info">{{node}}</span>
                </span>
                <a href="" class="btn" ng-class="focused == confignode ?'btn-success':'btn-default'"
                   ng-mouseenter="focused = confignode" ng-mouseleave="focused = null"
                   ng-click="edited = confignode"><span
                        class="icon-pencil"></span></a>
            </div>
            <!-- Collection edit -->
            <div ng-show="edited == confignode">
                <div ng-repeat="(k, node) in confignode track by k">
                    <input ng-model="confignode[k]"/>
                    <a href="" ng-click="confignode.splice(k,1)">Delete</a>
                </div>
                <a href="" class="btn btn-info" ng-click="confignode.push('')">Add</a><a class="btn btn-success" href=""
                                                                                         ng-click="edited = null; editor.checkModified();">Save</a>
            </div>
        </div>

    </div>
</div>

<!-- Object collection -->
<div ng-if="(schema.type == 'array' && schema.items.type == 'object')" >
    <legend>{{index}}</legend>

    <div class="row">
    <div class="nice-pane-padding nice-solid-regular col-sm-3">
        <table class="table table-regular table-bordered table-hover">
            <thead>
            <tr>
                <th>Name</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in confignode" ng-click="selectItem(item);">
                <td>{{getLabel(item, schema.items)}}</td>
            </tr>
            </tbody>
        </table>
    </div>
        <div class="col-sm-9">
            <div config-node-editor
                 schema="schema.items"
                 config="selectedItemConfig"
                 editor="editor">
            </div>
        </div>
    </div>

</div>

<!-- Map -->
<div ng-if="(schema.type == 'Map')" ng-controller="MapController">
    <!-- Map view -->
    <a href="" ng-click="addEntry()">Add</a>
    <table class="table table-condensed smallprops">
        <tr ng-repeat="(k,node) in confignode">
            <!-- view key -->
            <td ng-show="!edited"><span class="label label-success details-header">{{k}}</span>
                <a href="" class="btn btn-default pull-right" ng-click="edited = true"><span class="icon-pencil"></span></a>
                <a href="" class="btn btn-danger close" ng-click="deleteEntry(k)">&times</a>
            </td>
            <!-- edit key -->
            <td ng-show="edited" ng-init="newkey = k">
                <input ng-model="newkey"/>
                <a class="btn btn-success" href="" ng-click="edited = !saveKey(k,newkey)">Save</a>
            </td>
            <td ng-controller="ConfigSubNodeController">
                <div confignode="node" metadata="nodeMetadata" parentnode="confignode" index="k" editor="editor"></div>
            </td>
        </tr>
    </table>
</div>

<!-- Device -->
<div ng-if="schema.type == 'Device'" ng-controller="ConfigSubNodeController">
    <span class="grey"> Device: </span>
    <button type="button" class="btn btn-default"
            ng-model="parentnode[index]" data-html="1"
            ng-options="device.deviceName as device.deviceName for device in devices"
            ng-change="editor.checkModified()"
            bs-select>
        Status <span class="caret"></span>
    </button>
</div>

