<div class="row">


    <!--div class="col-md-3">

        <div class="list-group">
            <a href="" class="list-group-item" ng-repeat="device in devices"
               ng-class="(selectedDevice == device ? 'active' : '')" ng-click="selectDevice(device)">
                <h4 class="list-group-item-heading">
                    <small><span class="icon-cogs"></span></small>
                    {{device.deviceName}}
                </h4>
                <small>
                    <p class="list-group-item-text" ng-show="device.appEntities.length>0">AEs:
                        <small>{{device.appEntities.join(', ')}}</small>
                    </p>
                    <p class="list-group-item-text" ng-show="device.deviceExtensions.length>0">Extensions:
                        <small>{{device.deviceExtensions.join(', ')}}</small>
                    </p>
                </small>
            </a>
        </div>

    </div -->

    <div class="col-sm-12">

        <label>Device:&nbsp;</label>
        <button type="button" class="btn btn-default"
                ng-model="selectedDevice"
                data-html="1"
                ng-options="device as device.deviceName for device in devices"
                data-placeholder="Select device ..."
                bs-select>
            Device <span class="caret"></span>
        </button>

        <div class="row" ng-show="selectedDevice.config" ng-controller="DeviceEditorController">
            <h1><span class="small"> Device: </span> {{selectedDevice.deviceName}}</h1>

            <div class="col-sm-3">
                <ul class="nav nav-pills nav-stacked">
                    <li role="presentation" ng-class="(selectedConfigNode == selectedDevice.config ? 'active' : '')">
                        <a href="" ng-click="selectConfigNode(selectedDevice.config,ConfigConfig.schemas.device, {excludeProps:['dicomConnection','dicomNetworkAE']})">Device properties</a>
                    </li>
                    <li role="presentation"><h3>Application entities</a></h3>
                    <li role="presentation"><h3>Connections</a></h3>
                    <li role="presentation">
                        <ul class="nav nav-pills nav-stacked">
                            <li role="presentation"
                                ng-repeat="connection in selectedDevice.config.dicomConnection"
                                ng-class="(selectedConfigNode == connection ? 'active' : '')">
                                <a href="" ng-click="selectConfigNode(connection,ConfigConfig.schemas.device.properties.dicomConnection.items)">{{connection.cn}}</a>
                            </li>
                        </ul>
                    </li>
                    <li role="presentation"><h3>Extensions</h3></li>
                    <li role="presentation">
                        <ul class="nav nav-pills nav-stacked">
                            <li role="presentation"
                                ng-repeat="(extensionName,extensionConfig) in selectedDevice.config.deviceExtensions | orderBy:'extensionName'"
                                ng-class="(selectedConfigNode == extensionConfig ? 'active' : '')">
                                <a href="" ng-click="selectConfigNode(extensionConfig,ConfigConfig.schemas.deviceExtensions[extensionName])">{{extensionName}}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-sm-9">


                <div config-node-editor
                     schema="selectedConfigNodeSchema"
                     config="selectedConfigNode"
                     editor="editor">
                </div>

                <!-- Save and Cancel buttons template -->
                <script type="text/ng-template" id="/SaveCancel.html">
                    <a ng-show="selectedExtension.isModified" href="" ng-click="saveExtension(selectedExtension)"
                       class="btn btn-success pull-right">Save</a>
                    <a ng-show="selectedExtension.isModified" href=""
                       ng-click="cancelChangesExtension(selectedExtension)"
                       class="btn btn-danger pull-right">Cancel</a>
                </script>
            </div>

        </div>
    </div>
</div>